<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">
<context:component-scan base-package="cn.zs.springaop"/>

    <bean id="timeLogAdvice" class="cn.zs.springaop.service.TimeLogInterceptor"/>
    <!-- 3.配置切入点和切面 :aop:config-->
    <aop:config>
        <!--
            配置切入点：即你要拦截的哪些 连接点（方法）
                * expression：表达式：匹配方法的，语法：使用aspectj的语法，相对简单
                * 表达式：bean（bean的名字），你要对哪些bean中的所有方法增强
                * expression=bean(*Service)：在spring容器中，所有id/name以Service单词结尾的bean的都能被拦截
                * id="myPointcut"：为切入点定义唯一标识
        -->
        <aop:pointcut expression="bean(*Service)" id="myPointcut"/>

        <!--
                advice-ref="timeLogAdvice"
                * 配置切面:通知（增强的方法）关联切入点（目标对象调用的方法）
                pointcut-ref="myPointcut"
                * 告诉：你要对哪些方法（pointcut），进行怎强的增强 （advice）
         -->
        <aop:advisor advice-ref="timeLogAdvice" pointcut-ref="myPointcut"/>

    </aop:config>


    <aop:config>

        <aop:aspect ref="myAdvice">


            <aop:pointcut id="myadvice" expression="execution(* cn.zs.springaop.service.HelloService.sayHello())"></aop:pointcut>
            <aop:before method="before" pointcut-ref="myadvice"/>
        </aop:aspect>
    </aop:config>

</beans>